<h1>Person</h1>

<h2> first_name: <%= @person.first_name %></h2>
<h2> first_name: <%= @person.last_name %></h2>
<h2> first_name: <%= @person.age %></h2>
<h2> first_name: <%= @person.hair_color %></h2>
<h2> first_name: <%= @person.eye_color %></h2>
<h2> first_name: <%= @person.gender %></h2>
<h2> first_name: <%= @people.alive %></h2>



<%= link_to 'Back', persons_path %>